@charset "UTF-8";

body {
  background-color: whitesmoke;
  color: black;
  font-family: Arial, sans-serif;
  /* Fuente predeterminada para el cuerpo  */
}

/* Estilo para las secciones */
section {
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
}

.lista {
  list-style: none;
}

/* Estilo para los títulos de sección */
h1 {
  font-family: "Times New Roman", Times, serif;
  color: black;


}

h2 {
  font-family: "Arial", sans-serif;
  color: black;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  color: black;
}

/* Estilos para otros elementos si es necesario */
p {
  font-family: Arial, sans-serif;
  /* Fuente para párrafos */
}

a {
  color: black;
  /* Color de enlaces negro */
  text-decoration: none;
}

/* Estilo para el footer */
footer {
  background-color: whitesmoke;
  padding: 10px;
  text-align: center;
}

/* Estilo para los enlaces en el footer */
footer a {
  color: black;
  /* Color de enlaces verde en el negro */
  text-decoration: none;
  margin: 5px;
  list-style: none;
  text-decoration: none;
}

.title {
  size: 20px;
}

/*----------------------------------------------Estilo del header------------------------ */
header {
  text-align: center;
  text-decoration: underline;
}

.Titulo {
  background-color: whitesmoke;
  
}

.Titulo h2 {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

/* -------------------Links dentro del header ---------------A---------*/
.links {
  background-color: black;
  color: white !important;
  font-family: "Times New Roman", Times, serif;
}

.links:hover {
  color: red !important;
}


/*------------------------------------ Sección Noticias------------------------------*/
/*titulo*/
.titulonoticia {
  text-align: center;
  text-decoration: underline;
  font-size: large;
  font-family: "Times New Roman", Times, serif;

  &:hover {
    color: red
  }
}

/*formato del contenedor*/
.carousel-inner img {
  width: 100%;
  height: 500px;
}

.carro {
  width: 100%;
  height: 500px;
  background-color: whitesmoke;
}

.carousel-inner p {
  color: white;
  font-size: larger;
}

.carousel-inner h5 {
  color: white;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Crear 3 columnas de igual ancho */
  gap: 20px;
}

.foto1,
.foto2,
.foto3 {
  width: 100%;
  box-sizing: border-box;
}

.foto1 img,
.foto2 img,
.foto3 img {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  /* Espacio entre la imagen y el párrafo */
}

.foto1 p,
.foto2 p,
.foto3 p {
  width: 100%;
}

.contenedor2 .foto1,
.contenedor2 .foto2,
.contenedor2 .foto3 {
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.contenedor2 .foto1 img,
.contenedor2 .foto2 img,
.contenedor2 .foto3 img {
  transition: transform 0.3s ease-in-out; /* Agregamos una transición suave */
}

/* Aplicamos el zoom al hacer hover sobre las imágenes */
.contenedor2 .foto1:hover img,
.contenedor2 .foto2:hover img,
.contenedor2 .foto3:hover img {
  transform: scale(1.2);
}






/*-----------------------------------------------seccion GIRAS -----------------------------------*/
.titulo {
  text-align: center;
  text-decoration: underline;
}

.contenedor2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tour1,
.tour2,
.tour3 {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.tour1 img,
.tour2 img,
.tour3 img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; /* Agregamos una transición suave */

  /* Mantenemos el zoom en el hover */
  &:hover {
    transform: scale(1.2);
  }
}

.tour1 p,
.tour2 p,
.tour3 p {
  width: 100%;
  font-style: normal;
}

/* Hacer responsive */
@media (max-width: 768px) {
  .contenedor2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .tour1,
  .tour2,
  .tour3 {
    margin-bottom: 20px;
  }
}


/*------------------------------seccion video--------------------------------*/
body {
  font-family: "Arial", sans-serif;
  margin: 0;
}

section {
  background-color: #f4f4f4;
  padding: 20px;
}

.titulonoticia {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  color: #666;
}

.contenedor3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.video1,
.video2,
.video3 {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

/* Mantenemos el zoom en el hover */
.video1:hover,
.video2:hover,
.video3:hover {
  transform: scale(1.2);
}

iframe {
  width: 100%;
}

p {
  color: #777;
}

footer {
  text-align: center;
  padding: 10px;
  color: #fff;
}

footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

/* Hacer responsive */
@media (max-width: 768px) {
  .contenedor3 {
    grid-template-columns: repeat(2, 1fr);
  }
}



/*------------------------tienda---------------------------*/
.Titulo {
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

.Contenedor4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.remera1,
.remera2,
.remera3 {
  text-align: center;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.remera1 img,
.remera2 img,
.remera3 img {
  width: 375px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; /* Agregamos una transición suave */

  /* Mantenemos el zoom en el hover */
  &:hover {
    transform: scale(1.2);
  }
}

/* Hacer responsive */
@media (max-width: 768px) {
  .Contenedor4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .remera1,
  .remera2,
  .remera3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .remera1 img,
  .remera2 img,
  .remera3 img {
    width: 100%;
    max-width: 375px;
    height: auto;
  }
}


/*-----------------SUSCRIPCIÓN--------------*/
.boton {
  background-color: black;
  text-align: justify;
}

.boton p {
  color: whitesmoke;
}

/*-----SECCION SUBSCRIPCIÓN---*/
form {
  border: 4px solid #f1f1f1;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text],
input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #d60707;
  color: black;
  border: none;
  text-decoration: solid;
  font-weight: bold;
  font-size: 15px;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/*---------------FOOTER------------------*/
.pie a {
  color: white;
}

.pie a:hover {
  color: red !important;
}


.pie a {
  text-decoration: none;
  color: white;
  /* Puedes cambiar el color según tus preferencias */
  margin: 5px;
}

/*# sourceMappingURL=Estilo.css.map */