/*---------------FOOTER------------------*/
.pie a {
  color: white;
}

.pie a:hover {
  color: red !important;
}


.pie a {
  text-decoration: none;
  color: white;
  /* Puedes cambiar el color según tus preferencias */
  margin: 5px;
}