header {
  text-align: center;
  text-decoration: underline;
}

.Titulo {
  background-color: whitesmoke;
  
}

.Titulo h2 {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

/* -------------------Links dentro del header ---------------A---------*/
.links {
  background-color: black;
  color: white !important;
  font-family: "Times New Roman", Times, serif;
}

.links:hover {
  color: red !important;
}