.Titulo {
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

.Contenedor4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.remera1,
.remera2,
.remera3 {
  text-align: center;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.remera1 img,
.remera2 img,
.remera3 img {
  width: 375px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; /* Agregamos una transición suave */

  /* Mantenemos el zoom en el hover */
  &:hover {
    transform: scale(1.2);
  }
}

/* Hacer responsive */
@media (max-width: 768px) {
  .Contenedor4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .remera1,
  .remera2,
  .remera3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .remera1 img,
  .remera2 img,
  .remera3 img {
    width: 100%;
    max-width: 375px;
    height: auto;
  }
}
