.titulo {
  text-align: center;
  text-decoration: underline;
}

.contenedor2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tour1,
.tour2,
.tour3 {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.tour1 img,
.tour2 img,
.tour3 img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; /* Agregamos una transición suave */

  /* Mantenemos el zoom en el hover */
  &:hover {
    transform: scale(1.2);
  }
}

.tour1 p,
.tour2 p,
.tour3 p {
  width: 100%;
  font-style: normal;
}

/* Hacer responsive */
@media (max-width: 768px) {
  .contenedor2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .tour1,
  .tour2,
  .tour3 {
    margin-bottom: 20px;
  }
}