body {
  background-color: whitesmoke;
  color: black;
    font-family: Arial, sans-serif;
  /* Fuente predeterminada para el cuerpo  */
}

/* Estilo para las secciones */
section {
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}
.lista{
  list-style: none;
}
/* Estilo para los títulos de sección */
h1 {
  font-family: "Times New Roman", Times, serif;
  color: black;
 

}

h2 {
  font-family: "Arial", sans-serif;
  color: black;
  
}

h3 {
  font-family: "Courier New", Courier, monospace;
  color: black;
  
}

/* Estilos para otros elementos si es necesario */
p {
  font-family: Arial, sans-serif;
  /* Fuente para párrafos */
}

a {
  color: black;
  /* Color de enlaces negro */
  text-decoration: none;
}

/* Estilo para el footer */
footer {
  background-color: whitesmoke;
  padding: 10px;
  text-align: center;
}

/* Estilo para los enlaces en el footer */
footer a {
  color: black;
  /* Color de enlaces verde en el negro */
  text-decoration: none;
  margin: 5px;
  list-style: none;
  text-decoration: none;
}

.title {
  size: 20px;

}

/*----------------------------------------------Estilo del header------------------------ */
header {

  text-align: center;
  text-decoration: underline;

}

.Titulo {
  background-color: whitesmoke
}

.Titulo h2 {
  font-family: 'Times New Roman', Times, serif;
  color: black
}

/* -------------------Links dentro del header ---------------MODIFICAR PARA QUE ESTEN ARRIBA A LA DEREHCA---------*/
.links{
  background-color: black;
  color: white !important;
  font-family: 'Times New Roman', Times, serif

}



/*------------------------------------ Sección Noticias------------------------------*/

/*titulo*/

.titulonoticia {
  text-align: center;
  text-decoration: underline;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}




/*formato del contenedor*/
.carousel-inner img{
  width: 100%; 
  height: 500px;
  
}
.carro{
  width: 100%;
  height: 500px;
  background-color: red;
}
.carousel-inner p {
 color: white;
 font-size: larger;
}
.carousel-inner h5 {
  color: white;
 }
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de igual ancho */
  gap: 20px;
}

.foto1,
.foto2,
.foto3 {
  width: 100%;
    box-sizing: border-box;
}

.foto1 img,
.foto2 img,
.foto3 img {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  /* Espacio entre la imagen y el párrafo */
}

.foto1 p,
.foto2 p,
.foto3 p {
  width: 100%;
}

/*---------------------------------------------------------------------------------------------------*/
/*seccion GIRAS */

.titulo {
  text-align: center;
  text-decoration: underline;

}

.contenedor2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de igual ancho */
  gap: 20px;
}

.tour1,
.tour2,
.tour3 {
  width: 100%;
    box-sizing: border-box;
}

.tour1 img,
.tour2 img,
.tour3 img {
  width: 100%; /* Hacer que las imágenes ocupen el 100% del ancho de la columna */
  height: auto; /* Mantener la proporción original de la imagen */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  /* Espacio entre la imagen y el párrafo */
}

.tour1 p,
.tour2 p,
.tour3 p {
  width: 100%;
  font-style: normal;
}


/*------------------------------seccion video--------------------------------*/

.Titulo {

  text-align: center;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
}

.contenedor3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de igual ancho */
  gap: 20px;
}

.video1,
.video2,
.video3 {
  width: 30%;
  


}

.video1,
.video2,
.video3 {
  width: 80%; /* Hacer que las imágenes ocupen el 100% del ancho de la columna */
  height: auto; /* Mantener la proporción original de la imagen */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  /* Espacio entre la imagen y el párrafo */

}

.video1,
.video2,
.video3 {
  width: 100%;
  font-style: normal;
}

/*------------------------tienda---------------------------*/

.Titulo {
  text-align: center;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
}

.Contenedor4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de igual ancho */
  gap: 20px; /* Espacio entre las columnas */
}

.remera1,
.remera2,
.remera3 {
  text-align: center; /* Alinear el texto al centro */
}

.remera1 img,
.remera2 img,
.remera3 img {
  width: 375px; /* Hacer que las imágenes ocupen el 100% del ancho de la columna */
  height: 500px; /* Mantener la proporción original de la imagen */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Espacio entre la imagen y el párrafo */
}

.Titulo {
  text-align: center;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;

}

/*-----------------SUSCRIPCIÓN--------------*/

.boton {
  background-color: black;
  text-align: justify;
  
}

.boton p {
  color: whitesmoke;
}

/*---------------FOOTER------------------*/

.pie a {
  color:white
  
}


.pie a {
  text-decoration: none;
  color: white;  /* Puedes cambiar el color según tus preferencias */
  margin: 5px;
}