h1,
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.pie {
    background-color: black;
    text-align: center;
    padding: 10px; /* Añadido para mejorar el espaciado */
  }
  
  .pie a {
    color: white;
    text-decoration: none;
    margin: 5px;
    display: inline-block; /* Cambiado a 'inline-block' para que los enlaces estén uno al lado del otro */
    width: auto; /* Restablecido a 'auto' para permitir que los enlaces se ajusten al contenido */
  }

  .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de igual ancho */
    gap: 20px;
  }
  
  .foto1,
  .foto2,
  .foto3 {
    width: 100%;
      box-sizing: border-box;
  }
  
  .foto1 img,
  .foto2 img,
  .foto3 img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    /* Espacio entre la imagen y el párrafo */
  }
  
  .foto1 p,
  .foto2 p,
  .foto3 p {
    width: 100%;
  }